* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #272744;
  color: #fbf5ef;
}

.header {
  padding: 40px 60px;
}

.header ul {
  display: flex;
  list-style-type: none;
}

.header li {
  margin-right: 20px;
}

.header a {
  color: #fbf5ef;
  text-decoration: none;
}

.section {
  display: none;
}

.section.section-active {
  display: block;
}

.draw-grid {
  display: inline-grid;
  grid-template-columns: repeat(8, 40px);
  border: 1px solid #fbf5ef;
  margin-right: 40px;
}

.draw-grid-cell {
  width: 40px;
  height: 40px;
}

.draw-buttons {
  display: inline-block;
}

.btn {
  background: none;
  outline: none;
  border: 1px solid #8b6d9c;
  font-size: 20px;
  color: #8b6d9c;
  padding: 10px;
  cursor: pointer;
}

.btn.btn-active {
  border: 1px solid #fbf5ef;
  color: #fbf5ef;
}

.btn:hover {
  border: 1px solid #fbf5ef;
  background: #c69fa5;
  color: #fbf5ef;
}

.tools-wrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  justify-content: center;
}

.draw-palette {
  display: inline-grid;
  grid-template-columns: repeat(6, 40px);
  border: 1px solid #fbf5ef;
  cursor: pointer;
  margin-right: 20px;
}

.color-button,
.current-color {
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
}

.current-color {
  display: inline-block;
  border: 1px solid #fbf5ef;
  margin-right: 20px;
}

.sprite-edit-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.sprite-preview-wrapper {
  display: inline-block;
}

canvas {
  border: 1px solid #fbf5ef;
}

.tilemap-edit-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}

.tilemap-drawing-wrapper {
  margin-right: 40px;
  margin-bottom: 40px;
}

.sprite-list-wrapper {
  margin-right: 40px;
}
