* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #272744;
  color: #fbf5ef;
}

.header {
  padding: 40px 60px;
}

.header ul {
  display: flex;
  list-style-type: none;
}

.header li {
  margin-right: 20px;
}

.header a {
  color: #fbf5ef;
  text-decoration: none;
}

.draw-grid {
  display: inline-grid;
  grid-template-columns: repeat(8, 40px);
  border: 1px solid #fbf5ef;
}

.draw-grid-cell {
  width: 40px;
  height: 40px;
}

.draw-buttons {
  display: inline-block;
}

.draw-buttons button {
  background: none;
  outline: none;
  border: 1px solid #fbf5ef;
  font-size: 20px;
  color: #fbf5ef;
  padding: 10px;
}

.draw-palette {
  display: inline-grid;
  grid-template-columns: repeat(2, 40px);
  border: 1px solid #fbf5ef;
  cursor: pointer;
}

.color-button,
.current-color {
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
}

.current-color {
  display: inline-block;
  border: 1px solid #fbf5ef;
}

.sprite-preview {
  border: 1px solid #fbf5ef;
}
