.header li:hover {
  color: #fbf5ef;
  background: #c69fa5;
}

.header,
.controls {
  max-width: 1600px;
  padding: 12px;
  margin: 0 auto;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header ul,
.controls ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.header a,
.controls a,
.btn a {
  color: #fbf5ef;
  text-decoration: none;
}

.controls .btn-group.project-buttons {
  margin-bottom: 20px;
}

.controls .btn.btn-file {
  color: #fbf5ef;
  border: none;
  border-bottom: 1px solid #fbf5ef;
}

.controls .btn-group.project-buttons li:not(:last-of-type) {
  border-right: 1px solid #fbf5ef;
}

.app-content {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 36px;
}

.section {
  max-width: 1600px;
  display: none;
}

.section.section-active {
  display: block;
}

.draw-grid {
  display: inline-flex;
  flex-wrap: wrap;
  width: 322px;
  min-width: 322px;
  border: 1px solid #fbf5ef;
  margin-right: 40px;
  cursor: crosshair;
}

.draw-grid-cell {
  width: 40px;
  height: 40px;
}

.draw-buttons {
  display: inline-block;
}

.btn-group {
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.btn {
  background: none;
  outline: none;
  border: 1px solid #8b6d9c;
  font-size: 1.2rem;
  color: #8b6d9c;
  padding: 6px 10px;
  cursor: pointer;
  min-width: 160px;
  display: inline-block;
  text-align: center;
  border-radius: 0;
}

.btn.control-button {
  border: none;
  padding: 8px 16px;
}

.btn.btn-active {
  border: 1px solid #fbf5ef;
  color: #fbf5ef;
}

.btn.control-button:hover {
  border: none;
}

.btn.btn-active.control-button {
  border: none;
  border-bottom: 1px solid #fbf5ef;
}

.btn.btn-small {
  min-width: 50px;
}

.btn:hover {
  border: 1px solid #fbf5ef;
  background: #c69fa5;
  color: #fbf5ef;
}

.btn-danger {
  border: 1px solid #f2d3ab;
  color: #f2d3ab;
}

.tools-wrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.draw-palette {
  display: inline-grid;
  grid-template-columns: repeat(6, 40px);
  border: 1px solid #fbf5ef;
  cursor: pointer;
  margin-right: 20px;
}

.color-button {
  cursor: pointer;
}

.color-button,
.current-color {
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 0;
}

.current-color {
  display: inline-block;
  border: 1px solid #fbf5ef;
  margin-right: 20px;
}

.sprite-edit-wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.sprite-preview-wrapper {
  display: inline-block;
}

.sprite-preview {
  cursor: pointer;
}

.sprite-number-wrapper {
  margin: 10px 0 20px;
}

canvas {
  border: 1px solid #fbf5ef;
  cursor: pointer;
}

.tilemap-edit-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.tilemap-drawing-wrapper {
  margin-right: 40px;
  margin-bottom: 40px;
}

.map-drawing-surface {
  cursor: crosshair;
}

.sprite-list-wrapper {
  margin-right: 40px;
}

.sfx-edit-top {
  display: flex;
  margin-bottom: 20px;
}

.tempo-control {
  margin-right: 36px;
}

.sound-paint-wrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: 36px;
}

.sound-paint {
  margin-right: 20px;
  cursor: crosshair;
}

.item-set-label {
  font-size: 1.2rem;
  min-width: 100px;
  display: inline-block;
  font-weight: 400;
}

.sparky-number {
  display: inline-block;
  padding: 0 10px;
  font-size: 1.2rem;
}

.sprite-flags {
  margin-left: 36px;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.checkbox-wrapper label {
  width: 50px;
  text-align: center;
}

.checkbox-wrapper input {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
}

.checkbox-wrapper input::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 22px;
  display: block;
  content: "";
  background: #494d7e;
}

.checkbox-wrapper input:checked::after {
  background: #fbf5ef;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  display: block;
  content: "";
}

#import-data-file {
  display: none;
}
#import-game-file {
  display: none;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(39, 39, 68, 0.7);
  z-index: 1000;
}

.modal-overlay.active {
  display: block;
}

.modal {
  margin: 20vh auto 0;
  width: 600px;
  height: 400px;
  background-color: #494d7e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px 70px 30px;
}

.modal .btn-group {
  display: flex;
  justify-content: space-between;
}

.centered {
  display: flex;
  justify-content: center;
}

.modal .modal-text {
  font-size: 2rem;
}

.editor-wrapper {

  min-width: 50%;
}


.editor {
  border: 1px solid #fbf5ef;
  margin-right: 20px;
  width: 100%;
  font-family: monospace;
  font-size: 1.2rem;
}

.editor * {
  font-family: monospace;

}

.editor {
  /* font-family: 'Source Code Pro', monospace; */
  /* font-size: 18px; */
  font-weight: 400;
  height: 512px;
  /* letter-spacing: normal; */
  /* line-height: 20px; */
  /* padding: 10px; */
  tab-size: 4;
}

.editor .token.keyword {
  color: #f2d3ab;
}
.editor .token.punctuation {
  color: #c69fa5;
}

.editor .token.function {
  color: #8b6d9c;
}
.editor .token.number,
.editor .token.string {
  color: #f2d3ab;
}
.editor .token.comment {
  color: #494d7e;
}

.game-edit-wrapper {
  display: flex;
  flex-direction: column;
}

.editor-wrapper {
  margin-right: 10px;
}


@media (min-width: 768px) {
  .game-edit-wrapper {
    flex-direction: row;
  }
  
  .board {
    max-width: 512px;
    max-height: 512px;
  }
}

.editor-tab {
  position: relative;
}

.tooltip {
  position: absolute;
  top: -80px;
  left: -50%;
  visibility: hidden;
  background-color: #494d7e;
  white-space: nowrap;
  padding: 5px;
}

.editor-tab:hover .tooltip {
  visibility: visible;
}